.vscode
*.pyc
*.pyo
*.db
*.sqlite3
*.sql

.venv/
.env

# Logs
*.log
logs/

database_export.xlsx
website/__pycache__

website/static/video
website/static/files/ministerstvo
website/static/files/organizations