{% extends "base.html" %} {% block title %}{{ _('Регистрация - EnPlans') }}{%
endblock %} {% block content %}

<div class="auth-page">
  <div class="auth-text-upper">
    <div class="auth-title" onclick="window.location.href = '/login'">
      <img src="/static/img/logo.svg" alt="" />
      <a>EnPlans</a>
    </div>
    <p class="auth-subtitle">
      {{ _('Формирование планов мероприятий <br/> по энергосбережению') }}
    </p>
  </div>

  <form
    class="steps-wrapper"
    method="POST"
    action="{{ url_for('auth.param') }}"
    id="registration-form"
  >
    <div class="step auth-step-1 active auth-container">
      <div class="auth-container-title">
        {{ _('Ввод персональных данных') }}
      </div>
      <div class="auth-choose" style="justify-content: center" role="tablist">
        <a
          class="auth-tab active wave-effect"
          role="tab"
          style="width: 100%"
          aria-selected="true"
        >
          {{ _('Шаг 1') }}
        </a>
      </div>
      <div class="auth-form" id="form-part-1">
        <div class="row-form-group">
          <div class="form-group">
            <label>{{ _('Фамилия') }} <span class="required-star">*</span></label>
            <input
              type="text"
              name="last_name"
              value="{{ current_user.last_name or '' }}"
              id="secondname"
              maxlength="15"
              placeholder="{{ _('Введите фамилию') }}"
              class="auth-input"
              required
            />
          </div>
          <div class="form-group">
            <label>{{ _('Имя') }} <span class="required-star">*</span></label>
            <input
              type="text"
              name="first_name"
              value="{{ current_user.first_name or '' }}"
              id="name"
              maxlength="15"
              placeholder="{{ _('Введите имя') }}"
              class="auth-input"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label>{{ _('Отчество') }} <span class="required-star">*</span></label>
          <input
            type="text"
            name="patronymic_name"
            value="{{ current_user.patronymic_name or '' }}"
            id="patronymic"
            maxlength="15"
            placeholder="{{ _('Введите отчество') }}"
            class="auth-input"
          />
        </div>
        <div class="form-group">
          <label for="telephone">{{ _('Телефон') }} <span class="required-star">*</span></label>
          <input
            type="tel"
            name="telephone"
            value="{{ current_user.telephone or '' }}"
            id="telephone"
            maxlength="13"
            placeholder="{{ _('Введите номер телефона') }}"
            class="auth-input"
            required
          />
        </div>
        <div class="form-group">
          <label>{{ _('Должность') }}</label>
          <input
            type="text"
            name="post"
            value="{{ current_user.post or '' }}"
            id="post"
            maxlength="35"
            placeholder="{{ _('Введите должность') }}"
            class="auth-input"
          />
        </div>
        <div class="button-auth-area">
          <button type="button" class="svg-btn blue" id="next-btn-1">
            <span class="btn-text">{{ _('Далее') }}</span>
            {{ icons.next_icon() }}
          </button>
        </div>
      </div>
    </div>

    <div class="step auth-step-2 auth-container" style="display: none;">
      <div class="auth-container-title">{{ _('Ваша роль в системе') }}</div>
      <div class="auth-choose" style="justify-content: center" role="tablist">
        <a
          class="auth-tab active wave-effect"
          role="tab"
          style="width: 100%"
          aria-selected="true"
        >
          {{ _('Шаг 2') }}
        </a>
      </div>

      <div class="radio-org-container">
        <label>
          <input
            type="radio"
            name="entity_type"
            value="respondent"
            class="radio-org-input"
            checked
          />
          <div class="radio-org-card" data-type="respondent">
            {{ icons.icon_profile() }}
            <div class="radio-org-title">Респондент</div>
            <div class="radio-org-subtitle">Формирование и подача плана мероприятий по энергосбережению</div>
          </div>
        </label>

        <label>
          <input
            type="radio"
            name="entity_type"
            value="auditor"
            class="radio-org-input"
          />
          <div class="radio-org-card" data-type="auditor">
            {{ icons.icon_profile() }}
            <div class="radio-org-title">Аудитор</div>
            <div class="radio-org-subtitle">Согласование отправленных планов мероприятий по энергосбережению</div>
          </div>
        </label>

        <label>
          <input
            type="radio"
            name="entity_type"
            value="approver"
            class="radio-org-input"
          />
          <div class="radio-org-card" data-type="approving">
            {{ icons.icon_profile() }}
            <div class="radio-org-title">Утверждающий</div>
            <div class="radio-org-subtitle">Утверждение согласованных планов мероприятий по энергосбережению</div>
          </div>
        </label>
      </div>
      
      <div class="button-auth-area">
        <button type="button" class="svg-btn blue" id="next-btn-2">
          <span class="btn-text">{{ _('Далее') }}</span>
          {{ icons.next_icon() }}
        </button>
        <button type="button" class="svg-btn" id="prev-btn-2">
          {{ icons.back_icon() }}
          <span class="btn-text">{{ _('Назад') }}</span>
        </button>
      </div>
    </div>

    <div class="step auth-step-3 auth-container" style="display: none">
      <div class="auth-container-title">
        {{ _('Выбор организации') }}
      </div>
      <div class="auth-choose" style="justify-content: center" role="tablist">
        <a
          class="auth-tab active wave-effect"
          role="tab"
          style="width: 100%"
          aria-selected="true"
        >
          {{ _('Шаг 3') }}
        </a>
      </div>

      <div class="selected-role-display">
        <div class="selected-role-card" id="selected-role-card">
          <div class="selected-role-icon" id="selected-role-icon">
            {{ icons.icon_profile() }}
          </div>
          <div class="selected-role-info">
            <div  class="selected-role-title">
              <span>Ваша роль </span>
              <span id="selected-role-title">Респондент</span>
            </div>
            <div class="selected-role-subtitle" id="selected-role-subtitle">Формирование и подача плана мероприятий по энергосбережению</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>{{ _('Поиск организации') }} <span class="required-star">*</span></label>
        <div class="input-with-icon search-container">
          {{ icons.icon_search() }}
          <input
            type="text"
            name="organization_search"
            id="organization-search"
            placeholder="{{ _('Наименование или ОКПО или УНП') }}"
            class="search-input auth-input"
            autocomplete="off"
          />
          <div class="search-dropdown" id="organization-dropdown" style="display: none">
            <div class="search-list" id="organization-list"></div>
            <div class="search-loading" id="organization-loading" style="display: none">
              {{ _('Загрузка...') }}
            </div>
            <div class="search-more" id="organization-more" style="display: none">
              <button type="button" class="load-more-btn">
                {{ _('Загрузить еще') }}
              </button>
            </div>
          </div>
        </div>
        <input type="hidden" name="organization_id" id="organization_id" />
      </div>
      <hr>
      <div class="button-auth-area">
        <button type="submit" class="main-btn main-btn-primary" id="submit-btn" disabled>
          {{ icons.icon_login2() }}
          <span class="btn-text">{{ _('Зарегистрироваться') }}</span>
        </button>
        <button type="button" class="svg-btn" id="prev-btn-3">
          {{ icons.back_icon() }}
          <span class="btn-text">{{ _('Назад') }}</span>
        </button>
      </div>
      <div class="auth-footer">
        <a href="/no-org" class="forgot-password">Нет организации?</a>
      </div>
    </div>

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="entity_type" id="entity_type" value="respondent" readonly/>
  </form>
</div>

{{ affects.blurback() }}

{% endblock %}
