{% extends "base.html" %} {% block title %}{{ _('Обзор') }} - enPlans{% endblock
%} {% block content %}

<div class="pers-page">
  <div class="personal-acc-conteiner" style="margin-top: 0">
    <div class="header-content">
      <div class="header-content-left">
        <a class="name" style="padding-bottom: 0"
          >{{ _('План энергосбережения на') }} {{ plan.year }} {{ _('год') }}</a
        >

        <a
          class="status-plan {% if plan.is_draft %}status-draft {% elif plan.is_error %}status-warning {% elif plan.is_control %}status-control {% elif plan.is_sent %}status-pending {% elif plan.is_approved %}status-approved {% endif %}"
        >
          {% if plan.is_draft %} {{ icons.draft_icon() }}
          <span>В редакции</span>

          {% elif plan.is_error %} {{ icons.error_icon() }}
          <span>Есть ошибки</span>

          {% elif plan.is_control %} {{ icons.control_icon() }}
          <span>Контроль пройден</span>

          {% elif plan.is_sent %} {{ icons.pending_icon() }}
          <span
            >{% if current_user.is_auditor != true %}На рассмотрении{% else %}Не
            просмотрен{% endif %}</span
          >

          {% elif plan.is_approved %} {{ icons.approved_icon() }}
          <span>Одобрен</span>

          {% endif %}
        </a>
      </div>
      <div class="header-content-right">
        {% if current_user.is_auditor != true %} {% if plan.is_sent == true %}
        <form
          id="cancelsentPlanForm"
          action="{{ url_for('views.api_change_plan_status', token=plan.token) }}"
          method="POST"
          class="button-area"
          style="text-align: left"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="hidden" name="status" value="draft" />
          <button
            id="cancelsentPlanButton"
            type="submit"
            class="white-svg-btn delete-button"
          >
            {{ icons.icon_send() }}
            <span class="btn-text">{{ _('Отменить отправку') }}</span>
          </button>
        </form>
        {% endif %}
        <button
          id="sentPlanButton"
          type="submit"
          class="white-svg-btn send-button"
          {%
          if
          plan.is_sent
          or
          plan.is_approved
          or
          plan.is_draft
          or
          plan.is_error%}disabled{%
          endif
          %}
        >
          {{ icons.icon_send() }}
          <span class="btn-text">{{ _('Отправить') }}</span>
        </button>
        <form
          data-modal-form="deletePlan"
          action="{{ url_for('views.delete_plan', token=plan.token) }}"
          method="POST"
          class="button-area"
          style="text-align: left"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <button
            type="submit"
            data-modal-trigger="deletePlan"
            class="white-svg-btn delete-button"
            {%
            if
            plan.is_sent
            or
            plan.is_approved
            %}disabled{%
            endif
            %}
          >
            {{ icons.icon_delete() }}
            <span class="btn-text">{{ _('Удалить') }}</span>
          </button>
        </form>
        {% else %} {% endif %}
      </div>
    </div>

    <form
      id="editPlanForm"
      class="main-form"
      action="{{ url_for('views.edit_plan', token=plan.token) }}"
      method="POST"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <div class="row-app-group">
        <div class="app-group">
          <label>{{ _('Год') }}</label>
          <div class="input-with-icon">
            {{ icons.icon_calendar() }}
            <input
              type="number"
              id="year"
              name="year"
              min="2024"
              max="2030"
              value="{{ plan.year }}"
              placeholder=""
              class="app-input"
              required
              onchange="checkExistingPlan(this.value)"
              data-current-year="{{ plan.year }}"
            />
          </div>
          <small id="year-error" class="error-message-small">
            {{ _('У вас уже есть план c таким годом!') }}
          </small>
        </div>
        <div class="app-group">
          <label>{{ _('') }}</label>
          <div class="input-with-icon"></div>
        </div>
      </div>
      <br />
      <div class="row-app-group">
        <div class="app-group">
          <label>{{ _('Показатель энергосбережения') }} (%)</label>
          <div class="input-with-icon">
            {{ icons.icon_eco() }}
            <input
              type="text"
              name="energy_saving"
              maxlength="15"
              value="{{ plan.energy_saving }}"
              required
              placeholder="0.000"
              class="app-numeric-input-negative"
              pattern="-?[0-9]+([\.,][0-9]+)?"
              title="{{ _('Введите числовое значение (например: 12.345)') }}"
            />
          </div>
        </div>
        <div class="app-group">
          <label>{{ _('Доля местных ТЭР в КПТ') }} (%)</label>
          <div class="input-with-icon">
            {{ icons.icon_half() }}
            <input
              type="text"
              name="share_fuel"
              maxlength="15"
              value="{{ plan.share_fuel }}"
              required
              placeholder="0.000"
              class="app-numeric-input"
              required
              pattern="[0-9]+([\.,][0-9]+)?"
              title="{{ _('Введите числовое значение (например: 12.345)') }}"
            />
          </div>
        </div>
      </div>
      <div class="row-app-group">
        <div class="app-group">
          <label>{{ _('Задания по экономии ТЭР (т. у. т.)') }}</label>
          <div class="input-with-icon">
            {{ icons.icon_eco() }}
            <input
              type="text"
              name="saving_fuel"
              maxlength="15"
              value="{{ plan.saving_fuel }}"
              placeholder="0.000"
              class="app-numeric-input"
              required
              pattern="[0-9]+([\.,][0-9]+)?"
              title="{{ _('Введите числовое значение (например: 12.345)') }}"
            />
          </div>
        </div>
        <div class="app-group">
          <label>{{ _('Доля ВИЭ в КПТ') }} (%)</label>
          <div class="input-with-icon">
            {{ icons.icon_half() }}
            <input
              type="text"
              name="share_energy"
              maxlength="15"
              value="{{ plan.share_energy }}"
              placeholder="0.000"
              class="app-numeric-input"
              required
              pattern="[0-9]+([\.,][0-9]+)?"
              title="{{ _('Введите числовое значение (например: 12.345)') }}"
            />
          </div>
        </div>
      </div>
      {% if current_user.is_auditor != true %}
      <div class="button-area">
        <button
          id="editPlanButton"
          type="submit"
          class="main-btn main-btn-primary"
          {%
          if
          plan.is_sent
          or
          plan.is_approved
          %}disabled{%
          endif
          %}
        >
          {{ icons.icon_edit() }}
          <span class="btn-text">{{ _('Применить изменения') }}</span>
        </button>
      </div>
      {% endif %}
    </form>
    {% if current_user.is_auditor == true or current_user.is_admin == true%}
    <hr />
    <a class="sername">{{ _('Респондент и организация') }}</a>

    {% set org = none %} {% set ministry = none %} {% set region = none %} {% if
    plan.organization %} {% set org = plan.organization.name %} {% endif %} {%
    if plan.ministry %} {% set ministry = plan.ministry.name %} {% endif %} {%
    if plan.region %} {% set region = plan.region.name %} {% endif %} {% if org
    or ministry or region %}
    <div class="app-group">
      {% if org %}
      <label>{{ _('Организация') }}</label>
      <div class="input-with-icon">
        {{ icons.icon_org() }}
        <input type="text" value="{{ org }}" readonly class="app-input" />
        {% elif ministry %}
        <label>{{ _('Министерство') }}</label>
        <div class="input-with-icon">
          {{ icons.icon_org() }}
          <input
            type="text"
            value="{{ ministry }}"
            readonly
            class="app-input"
          />
          {% elif region %}
          <label>{{ _('Регион') }}</label>
          <div class="input-with-icon">
            {{ icons.icon_org() }}
            <input
              type="text"
              value="{{ region }}"
              readonly
              class="app-input"
            />
            {% endif %}
          </div>
        </div>
        {% endif %}
        <div class="app-group">
          <label>{{ _('ФИО') }}</label>
          <div class="input-with-icon">
            {{ icons.icon_profile() }}
            <input
              type="text"
              id="secondname"
              maxlength="15"
              value="{{ plan.user.last_name }} {{ plan.user.first_name }} {{ plan.user.patronymic_name }}"
              placeholder="{{ _('ФИО') }}"
              class="app-input"
              readonly
            />
          </div>
        </div>

        <div class="row-app-group">
          <div class="app-group">
            <label>{{ _('Email') }}</label>
            <div class="input-with-icon">
              {{ icons.icon_email() }}
              <input
                type="text"
                maxlength="15"
                value="{{ plan.user.email }}"
                placeholder="{{ _('demo@example.com') }}"
                readonly
                class="app-input"
              />
            </div>
          </div>
          <div class="app-group">
            <label>{{ _('Телефон') }}</label>
            <div class="input-with-icon">
              {{ icons.icon_contacts() }}
              <input
                type="text"
                maxlength="15"
                value="{{ plan.user.phone }}"
                placeholder="+375.."
                readonly
                class="app-input"
              />
            </div>
          </div>
        </div>
        {%endif%} {% if current_user.is_auditor != true %}
        <hr />
        <a class="sername">{{ _('Результаты проверки') }}</a>
        <div class="tickets-conteiner">
          {% if plan.tickets %} {% for ticket in plan.tickets %}
          <div
            class="tickets-message {% if ticket.is_owner %}tickets-message-left{% else %}tickets-message-right{% endif %}"
          >
            <div class="tickets-message-content">
              <div class="message-header">
                <span class="message-sender">
                  {% if ticket.is_owner %} {{ _('Система') }} {% else %} {{
                  _('Аудитор') }} {% endif %}
                </span>
                <span class="message-time"
                  >{{ ticket.begin_time.strftime('%H:%M') if ticket.begin_time
                  else '--:--' }}</span
                >
                <button
                  class="btn-sender-info"
                  onclick="toggleTicketInfo({{ ticket.id }})"
                >
                  <svg width="16" height="16" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"
                      fill="currentColor"
                    />
                  </svg>
                </button>
              </div>
              <div class="message-bubble">
                <p class="text-ticket">{{ ticket.note }}</p>

                <div class="bubble-status">
                  {% if ticket.luck %}
                  <svg width="14" height="14" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"
                      fill="#34B7F1"
                    />
                  </svg>
                  {% else %}
                  <svg width="14" height="14" viewBox="0 0 24 24" fill="none">
                    <path
                      d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
                      fill="#FF5252"
                    />
                  </svg>
                  {% endif %}
                </div>
              </div>

              <div class="message-date">
                {{ ticket.begin_time.strftime('%d %b %Y') if ticket.begin_time
                else '' }}
              </div>
            </div>
          </div>
          {% endfor %} {% else %}
          <div class="no-info-conteiner">
            <div class="empty-state">
              <svg width="64" height="64" viewBox="0 0 24 24" fill="none">
                <path
                  d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2z"
                  fill="#E6E6E6"
                />
              </svg>
              <a>{{ _('Нет сообщений') }}</a>
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}

        <hr />
        <a class="sername">{{ _('Прочая информация') }}</a>
        {#
        <div class="no-input">
          <a>{{ _('Тип') }}: {{ plan.plan_type if plan.plan_type else '--'}}</a>
        </div>
        #}
        <div class="no-input">
          {{ icons.icon_calendar() }}
          <a
            >{{ _('Создан') }}: {{ plan.begin_time.strftime('%d-%m-%Y %H:%M') if
            plan.begin_time else '-- -- --' }}</a
          >
        </div>
        <div class="no-input">
          {{ icons.icon_calendar() }}
          <a>
            {{ _('Последняя редакция') }}: {{
            plan.change_time.strftime('%d-%m-%Y %H:%M') if plan.change_time else
            '-- -- --' }}
          </a>
        </div>
        <div class="no-input">
          {{ icons.icon_calendar() }}
          <a>
            {{ _('Отправлен') }}: {{ plan.sent_time.strftime('%d-%m-%Y %H:%M')
            if plan.sent_time else '-- -- --' }}
          </a>
        </div>
      </div>
    </div>

    <div
      id="planTypeModal"
      class="modal {% if show_plan_type_modal %}active-delay{% endif %}"
    >
      <div class="modal-content" style="width: fit-content">
        <div class="modal-header">
          <a id="modal-title">{{ _('Выберите тип плана') }}</a>
        </div>
        {#
        <div class="answer-highlight">
          <div class="highlight-icon">💡</div>
          <p>Экспорт плана, <strong>зависит от данного парамметра</strong></p>
        </div>
        #}
        <form
          action="{{ url_for('views.edit_plan_type', token=plan.token) }}"
          method="POST"
        >
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="radio-org-container">
            <label>
              <input
                type="radio"
                name="entity_type"
                value="organization_org_small"
                class="radio-org-input"
                checked
              />
              <div class="radio-org-card" data-type="organization">
                <span class="radio-org-icon"></span>
                <div class="radio-org-subtitle">Организация с потреблением</div>
                <div class="radio-org-title">До 25 тыс. т.</div>
              </div>
            </label>

            <label>
              <input
                type="radio"
                name="entity_type"
                value="organization_org_large"
                class="radio-org-input"
              />
              <div class="radio-org-card" data-type="organization">
                <span class="radio-org-icon"></span>
                <div class="radio-org-subtitle">Организация с потреблением</div>
                <div class="radio-org-title">Более 25 тыс. т.</div>
              </div>
            </label>
          </div>
          <div class="button-auth-area">
            <a></a>
            <button type="submit" class="no-submit-button blue">
              {{ icons.icon_confirm() }}
              <span class="btn-text">{{ _('Подтвердить') }}</span>
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        window.ticketInfoInstance = new window.TicketInfo();
      });

      function toggleTicketInfo(ticketId) {
        window.ticketInfoInstance.show(ticketId, event.currentTarget);
      }

      function checkExistingPlan(year) {
        if (!year) return;

        const inputElement = document.getElementById("year");
        const currentPlanYear = inputElement.dataset.currentYear;

        let url = "/check-plan-year?year=" + year;
        if (currentPlanYear) {
          url += "&current_plan_year=" + currentPlanYear;
        }

        fetch(url)
          .then((response) => response.json())
          .then((data) => {
            const errorElement = document.getElementById("year-error");
            const submitBtn = document.getElementById("edit_btn");

            if (data.exists) {
              errorElement.style.display = "block";
              submitBtn.disabled = true;
              submitBtn.style.opacity = "0.5";
              submitBtn.style.cursor = "not-allowed";
            } else {
              errorElement.style.display = "none";
              submitBtn.disabled = false;
              submitBtn.style.opacity = "1";
              submitBtn.style.cursor = "pointer";
            }
          })
          .catch((error) => {
            console.error("Ошибка при проверке плана:", error);
          });
      }
    </script>
    {% endblock %}
  </div>
</div>
