{% extends "base.html" %} {% block title %}{{ _('Регистрация') }} - EnPlans{%
endblock %} {% block content %}

<div class="auth-page">
  <div class="auth-text-upper">
    <div class="auth-title" onclick="window.location.href = '/login'">
      <img src="/static/img/logo.svg" alt="" />
      <a>EnPlans</a>
    </div>
    <p class="auth-subtitle">
      {{ _('Формирование планов мероприятий <br/> по энергосбережению') }}
    </p>
  </div>
  <div class="auth-container">
    <div class="auth-container-title">{{ _('Регистрация в системе') }}</div>

    <div class="auth-choose" role="tablist">
      <a class="auth-tab" href="/login" role="tab" aria-selected="true">
        {{ icons.icon_login() }}
        <span>{{ _('Вход') }}</span></a
      >
      <a class="auth-tab active" href="/sign" role="tab" aria-selected="false">
        {{ icons.icon_proflie() }}
        <span>{{ _('Регистрация') }}</span>
      </a>
    </div>

    <form class="auth-form" method="POST" action="/sign">
      <div class="form-group">
        <label for="email">{{ _('Email') }}</label>
        <input
          type="email"
          id="email"
          name="email"
          value=""
          placeholder="Введите email"
          class="auth-input"
          required
        />
      </div>

      <div class="form-group">
        <label for="reg-password1">{{ _('Пароль') }}</label>
        <div class="password-input-wrapper">
          <input
            type="password"
            name="password1"
            id="reg-password1"
            minlength="5"
            maxlength="10"
            placeholder="Введите пароль"
            class="auth-input"
            required
          />
          <button
            type="button"
            class="toggle-password"
            aria-label="Показать пароль"
          >
            {{ icons.eye_open() }} {{ icons.eye_closed() }}
          </button>
        </div>
        <div data-cm-pwmeter="#reg-password1" data-min="5"></div>
      </div>
      <div class="form-group">
        <label for="reg-password2">{{ _('Подтвердить пароль') }}</label>
        <div class="password-input-wrapper">
          <input
            type="password"
            name="password2"
            id="reg-password2"
            minlength="5"
            maxlength="10"
            placeholder="Введите пароль"
            class="auth-input"
            required
          />
          <button
            type="button"
            class="toggle-password"
            aria-label="Показать пароль"
          >
            {{ icons.eye_open() }} {{ icons.eye_closed() }}
          </button>
        </div>
        <div
          data-cm-pwmatch
          data-password="#reg-password1"
          data-confirm="#reg-password2"
          data-submit=".auth-form button[type='submit']"
          data-min="5"
        ></div>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button type="submit" class="main-btn main-btn-primary">
        {{ icons.icon_proflie() }}
        <span class="btn-text">{{ _('Зарегистрироваться') }}</span>
      </button>
    </form>
  </div>
</div>

{{ affects.blurback() }}
{{ cm_forms_assets() }}

{% endblock %}
